/* CSS RESET */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
img,
nav,
table,
th,
td,
input,
textarea,
form,
label {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Akhir CSS RESET */

/* Body styling */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #1b1b1d;
  color: #333;
  margin: 0;
  padding: 0;
}

#home {
  background-color: #712cf9;
}

#footer {
  background-color: #2b3035;
}

header,
main,
footer {
  width: 100%;
}

/* Ensure the main element takes full width */
main {
  width: 100%;
  padding: 20px;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

/* Custom link hover color */
.nav-link:hover {
  text-decoration: underline;
  color: #fff !important;
}

/* Form submit button hover */
.btn-dark:hover {
  background-color: #555;
}

/* Image link hover effect */
.gambar a img {
  transition: border-color 0.3s;
}

.gambar a:hover img {
  border-color: #333;
}

/* Responsive styling */
/* Layar laptop */
@media (min-width: 769px) and (max-width: 1200px) {
  main {
    padding: 15px;
  }

  form {
    padding: 20px;
    margin-top: 15px;
  }

  table,
  th,
  td {
    font-size: 16px;
  }

  footer {
    padding: 20px 0;
  }
}

#floatingName,
#floatingEmail,
#floatingHp,
#floatingTextArea {
  background-color: #212529;
  color: white;
  font-size: 18px;
}

#table-form,
#temp-conversion {
  background-color: #282a36;
}

label {
  color: white !important;
  font-size: 12px !important;
}

.form-floating > .form-control-plaintext ~ label::after,
.form-floating > .form-control:focus ~ label::after,
.form-floating > .form-control:not(:placeholder-shown) ~ label::after,
.form-floating > .form-select ~ label::after {
  position: absolute;
  inset: 1rem 0.375rem;
  z-index: -1;
  height: 1.5em;
  background-color: transparent !important;
  content: "";
  border-radius: var(--bs-border-radius);
  color: #fff !important;
}

#conversion-title {
  color: white;
}

/* Tablet */
@media (max-width: 768px) {
  main {
    padding: 10px;
  }

  form {
    padding: 15px;
    margin-top: 10px;
  }

  table,
  th,
  td {
    font-size: 14px;
  }

  footer {
    padding: 15px 0;
  }
}

/* HP */
@media (max-width: 480px) {
  header {
    padding: 15px 0;
  }

  header img {
    width: 80px;
    height: 80px;
  }

  .gambar a img {
    width: 150px;
    height: 150px;
  }

  form {
    padding: 10px;
    margin-top: 5px;
  }

  form input,
  form textarea {
    padding: 8px;
  }

  table,
  th,
  td {
    font-size: 12px;
  }

  footer {
    padding: 10px 0;
  }
}
